body
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}
.top_menu
{
	background-image:url("../images/top_center.jpg");
	background-repeat:repeat-x;
	height:83px;
	width:100%;
	margin-top:0;
	display:inline-block;
}
.logo
{
	background-repeat: no-repeat;
	width:416px;
	height:65px;
	margin-left:20px;
	margin-top:5px;
	float:left;
	display:inline;
	
}
.top_banner_center
{
	background-image:url("../images/benner_center.png");
	background-repeat: no-repeat;
	width:10%;
	height:auto;	
	
}
.banner_right
{
	padding:12px;	
}
.banner_right_content
{
	float:right;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#FFF;
}
.welcome_content
{
	float:right;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#000;
}
.welcome_content_rht
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#FFF;
}
.welcome_content_rht a:link
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#fff;
}
.welcome_content_rht a:visited
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#fff;
}
.welcome_content_rht a:hover
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#fff;
}
.wrapper
{
	margin:0 auto;
	width:40%;
}
.top
{
	background-image:url("../images/login_logo.png");
	margin-left:40px;
	width:265px;
	height:202px;
}
.login_bg
{
	background-image:url("../images/login_bg.png");
	background-repeat: no-repeat;
	width: 424px;
	height: 405px;
	
}
.login_cont
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	color:#333;
}
.logoin_top
{
	background-image:url("../images/login_top.png");
	background-repeat: no-repeat;
	width:403px;	
	margin-bottom:0px;
	height:46px;
}
.logoin_center
{
	background-image:url("../images/login_center.png");
	background-repeat: repeat-y;
	padding-top:0px;
	width:403px;
	height:100%
}
.logoin_bottom
{
	background-image:url("../images/login_bottom.png");
	background-repeat: no-repeat;
	width:403px;
	height:12px;
}
.login_contnt
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	font-weight:600;
}

.login_contnt a:link {color:#fff;}    
.login_contnt a:visited {color:#333;} 
.login_contnt a:hover {color:#fff;} 
.login_contnt a:active {color:#666;}
.forgot_bg
{
	background-image:url("../images/forgot_password_top.png");
	background-repeat: no-repeat;
	width: 424px;
	height: 405px;
}
.forgot_pswd
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:600;
}
.forgot_top
{
	background-image:url("../images/login_password.png");
	background-repeat: no-repeat;
	width:403px;	
	margin-bottom:0px;
	height:46px;
}
.newuser_bg
{
	background-image:url("../images/new_user_bg.png");
	background-repeat: no-repeat;
	width: 424px;
	height: 405px;
}
.newuser_top
{
	background-image:url("../images/new_user_top.png");
	background-repeat: no-repeat;
	width:403px;	
	margin-bottom:0px;
	height:46px;
}
.content_bg
{
	background-image:url("../images/content_pagetitle_bg.jpg");
	background-repeat: repeat-x;
	width:100%;
	height:36px;
}
.content_headning
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	font-weight:600;
	padding-left:10px;
	line-height:35px;

	
}
.content_headning_new
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	font-weight:600;
	padding-left:10px;
	line-height:40px;
	position:fixed;

	
}
.table_content
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	line-height:180%;
}
.success_msg
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: green;	
	line-height:180%;
	font-weight:600;
	display:none;
}
.table_contents
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height:30px;
	font-weight: 500;	
	background-color:#30b8ea;
	color: #fff;
	border-right: 1px solid #0088cc;
	
}
.table_inner_content
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:30px;
	font-weight: 500;
	padding-left: 5px;	
	color: #333;
	border-right: 1px solid #2898b4;
	border-bottom: 1px solid #2898b4;
	
	
	
}
.dropdown_content
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight: 500;	
	color: #333;
	
}
.error_msg
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight: 600;	
	color: red; 
}
.days
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #d6d4d2;	
	height: 25px;
	width: 150px;
	
}
.trip
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight: 600;	
	color: #333;
	padding : 10px;
	
}
.frmheading
{
	font-family: arial;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	background-color: #e78c39;
	padding:5px;
	border-radius:5px;
	
}
.tb {
	background-color : #f3f3f2;
	border: 1px solid #dfdddb;	
	height: 25px;
}
.tble {
	background-color : #f1fafc;
}
.dashbord_report
{
	border-bottom: 1px #000 solid;
	border-left: 1px #000 solid;
}
.map .post {
-moz-border-radius:7px 7px 7px 7px;
float:left;
margin:2px;
min-height:100px;
width:98%;
}
.post1 {
-moz-border-radius:7px 7px 7px 7px;
border:1px solid #2898b4;
float:left;
margin:2px;
min-height:100px;
padding:5px;
width:16%;
}
fieldset
{
	padding:0px;
	border: 0;
}
.mandat {
    color: #FF0000;
    font-family: Arial;
    font-size: 16px;
}
.report_border
{	
	border-left: 1px solid #dfdbdb;
	border-top: 1px solid #dfdbdb;	

	}
.report_no_border{
	border-left: 1px solid #dfdbdb;
	border-top: 1px solid #dfdbdb;	
	border-right:none;
}	
.report_heading
{
	 background-color: #e68434;
	 color: #fff;
	 border-left: 1px solid #d26f12;
	 font-family: arial;
	 size: 12px;
	 font-weight: 600;
	 height:40px;	
}
.report_result
{
	font-family: arial;
	font-size: 12px;
	color:#333;
	font-weight: 600;
	padding: 5px;
	
}
.logorightside
{
	width:350px;
	height:auto;
	float:right;
	padding:15px 15px 0px 0px;
}
.logoinnerleft
{
	width:200px;
	height:auto;
	float:left;
	padding:10px 0px 5px 0px;
}
.logoinnerright
{
	width:150px;
	height:auto;
	float:left;
	font-family:arial;
	font-size:12px;
	color:#ffffff;
	text-align:right;
	padding:5px 0px 5px 0px;
}
.logoinnerright a
{
	color:#ffffff;
text-decoration:none;
}
.logoinnerright a:hover
{
	color:#ffffff;
text-decoration:underline;
}
.homebtn
{
	background:url(../images/homebtn.png) no-repeat top center;
	height:31px;
	width:88px;
	margin-left:100px;
}
.homefont
{
	line-height:31px;
	textalign:center;
	font-family:arial;
	font-size:12px;
	color:#ffffff;
	padding:0px 0px 0px 13px;
	font-weight:bold;
}
.homefont a
{
	color:#ffffff;
text-decoration:none;
}
.homefont a:hover
{
	color:#fcff00;
}
a, img
{
border:none;
}
.enginestatusright
{
	width:98%;
	height:auto;
	display:inline-block;
}
.engineinnerdiv
{
width:25%;
height:auto;
float:right;
}
.aselectdiv
{
	color:#0066ff;

}
.aselectdiv a
{
	color:#0066ff;	
}
.aselectdiv a:hover
{
	color:#002aff;
}
.positiondix
{
	width:98%;
	height:42px;
	background:#30b8ea;
	position:fixed;
	margin:0px auto;
	margin-left:15px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.imagefix
{
	width:100%;
	height:80px;
	background:url(../images/topripnew.jpg) repeat-x top center;
	display:inline-block;
	position:fixed;
	padding:0px 0px 15px 0px;
}
.posmaindiv
{
	width:98%;
	height:42px;
	margin:0px auto;
	position:fixed;
	width:98%;
	background:#30b8ea;
	margin-left:15px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.report_heading_new
{
	 background-color: #30b8ea;
	 color: #fff;
	 font-family: arial;
	 size: 12px;
	 font-weight: 600;
	 height:40px;		 
}
.trip_banner
{
	width:98%;
	height:auto;
	margin:0px auto;
	border-radius:5px;
	margin-top:8px;
	margin-bottom:8px;
	display:table;
	border: 1px solid #2898b4;
}
.sbltcenter
{
	width:1000px;
	height:auto;
	margin:0px auto;
	margin-top:5px;
	display:table;
}
.sbltcenter_new
{
	width:1000px;
	height:auto;
	margin:0px auto;
	margin-top:1px;
	border:none;
	display:table;
	padding:10px 0px 10px 0px;
	font-family:arial;
	color:#3e3e3f;
	font-weight:bold;
	line-height:18px;
	font-size:12px;
	text-align:center;
	background:#6fbaf3;
}

.sbltlogoleft
{
	width:215px;
	height:auto;
	float:left;
	padding:18px 0px 10px 0px;
	margin-left:10px;
}
.sbltlogoright
{
	width:775px;
	height:auto;
	float:left;
	background:#6fbaf3;
	font-family:arial;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	line-height:18px;
	font-size:12px;
	padding:8px 0px 12px 0px;
}
.sbltheading
{
	font-family:arial;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	padding:4px 0px 10px 0px;
}


.return_way_round{
	font-family:arial;
	font-size:15px;
	font-weight: bold;
	color: black;
	border-left: 1px solid #dfdbdb;
	border-top: 1px solid #dfdbdb;
}

.twomaindiv
{
	width:1000px;
	height:auto;
	margin:0px auto;
	font-family:arial;
	font-size:12px;
	color:#3e3e3f;
	font-weight:bold;
}
.twomaindivleft
{
	width:525px;
	height:auto;
	float:left;
}
.twomaindivright
{
	width:475px;
	height:auto;
	float:left;
}
.twomaindivleftinner
{
	width:500px;
	height:auto;
	float:left;
	padding:8px 0px 6px 0px;
}
.splitleft
{
	width:150px;
	height:auto;
	float:left;
	line-height:24px;
	padding:0px 0px 0px 10px;
}
.splitright
{
	width:215px;
	height:auto;
	float:left;
}
.sblttablecls
{

	text-align:center;
}
.sblttablecls th
{
	border:1px solid #3d9ae0;
	padding:8px 0px 8px 0px;
	color:#ffffff;
	background:#6fbaf3;
}
.sblttablecls td
{
	border:1px solid #6fbaf3;
	padding:8px 0px 8px 0px;
	text-align:center;

}
.sblttablecls span
{
	color:#000000;
}
.sealtext
{
	font-family:arial;
	font-size:14px;
	text-align:center;
	padding:8px 0px 0px 0px;
	color:#6fbaf3;
}
.sealtextnew
{
	font-family:arial;
	font-size:12px;
	text-align:center;
	padding:28px 0px 0px 0px;
	color:#3e3e3f;
}
.sidcobtnmain
{
width:300px;
height:auto;
margin:0px auto;

}
.sidcobtnleft
{
width:60px;
height:auto;
float:left;
}
.sidcobtncenter
{
width:60px;
height:auto;
float:left;
}
.sidcobtnright
{
width:100px;
height:auto;
float:left;
}












