body
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}
.top_menu
{
	background-image:url("../images/top_center.jpg");
	background-repeat:repeat-x;
	height:auto;
	width:100%;
	margin:0;
}
.logo
{
	background-image:url("../images/login_logo.png");
	background-repeat: no-repeat;
	width:416px;
	height:65px;
	margin-left:20px;
	margin-top:5px;
	float:left;
	display:inline;
	
}
.top_banner_center
{
	background-image:url("../images/benner_center.png");
	background-repeat: no-repeat;
	width:55%;
	height:auto;	
	
}
.banner_right
{
	padding:10px;	
}
.banner_right_content
{
	float:right;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#FFF;
}
.welcome_content
{
	float:right;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#000;
}
.welcome_content_rht
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#FFF;
}
.welcome_content_rht a:link
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#fff;
}
.welcome_content_rht a:visited
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#fff;
}
.welcome_content_rht a:hover
{		
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#fff;
}
.wrapper
{
	margin:0 auto;
	width:40%;
}
.top
{
	background-image:url("../images/login_logo.png");
	margin-left:90px;
	width:319px;
	height:65px;
}
.logoin_top
{
	background-image:url("../images/login_top.png");
	background-repeat: no-repeat;
	width:403px;	
	margin-bottom:0px;
	height:46px;
}
.logoin_center
{
	background-image:url("../images/login_center.png");
	background-repeat: repeat-y;
	padding-top:0px;
	width:403px;
	height:100%
}
.logoin_bottom
{
	background-image:url("../images/login_bottom.png");
	background-repeat: no-repeat;
	width:403px;
	height:12px;
}
.login_contnt
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#33a0e5;
	font-weight:600;
}

.login_contnt a:link {color:#33a0e5;}    
.login_contnt a:visited {color:#33a0e5;} 
.login_contnt a:hover {color:#000;} 
.login_contnt a:active {color:#33a0e5;}  
.forgot_pswd
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:600;
}
.forgot_top
{
	background-image:url("../images/login_password.png");
	background-repeat: no-repeat;
	width:403px;	
	margin-bottom:0px;
	height:46px;
}
.newuser_top
{
	background-image:url("../images/new_user_top.png");
	background-repeat: no-repeat;
	width:403px;	
	margin-bottom:0px;
	height:46px;
}
.content_bg
{
	background-image:url("../images/content_pagetitle_bg.jpg");
	background-repeat: repeat-x;
	padding-top:10px;
	width:100%;
	height:36px;
}
.content_headning
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	font-weight:600;
	padding-left:10px;
	
}
.table_content
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	line-height:180%
}
.success_msg
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: green;	
	line-height:180%;
	font-weight:600;
	display:none;
}